name: Check

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  run_check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - run: pip install requests

    - run: python main.py
      env:
        XSRF_TOKEN: ${{ secrets.XSRF_TOKEN }}
        X10_SESSION: ${{ secrets.X10_SESSION }}
